* @redpanda-data/documentation  

# Auto-add marketing as reviewers in partner integration page
modules/get-started/pages/partner-integration.adoc @redpanda-data/documentation @weimeilin79 @larsenpanda @mikebroberg