/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.featureSvg {
  height: auto;
  width: auto;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.border{
border: 1px solid #dadce0;
border-radius: 8px;
height: 350px;
padding-bottom: 20px;
}

.body_text{
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin: 6px 0 0;
height: 72px;
width: 250px;

}

.learn{
font-size: 14px;
font-weight: 400;
line-height: 24px;
margin: 6px 0 0;
padding-top: 10px;
}

.body_title{
font-size: 18px;
font-weight: 500;
letter-spacing: 0;
line-height: 26px;
margin: 0;

}
.padding{
padding-bottom: 20px;
}