# This workflow triggers a build of the production docs site

name: Build Production Site

on:
  push:
    branches: [ main, 'v/*', shared, api, site-search, 'v-WIP/*' ]

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
    - name: Trigger build
      env:
        BUILD_HOOK: ${{ secrets.BUILD_HOOK }}
      run: curl -X POST -d {} $BUILD_HOOK
