name: Run doc tests

on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-tests]

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      console: ${{ steps.filter.outputs.console }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Determine changed paths
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            console:
              - 'modules/console/**'
  run-tests:
    needs: setup
    strategy:
      fail-fast: false # Ensure all matrix jobs run to completion even if one fails
      matrix:
        os: [ubuntu-latest] # Only using Linux for now since macOS takes a long time
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test Console docs
        if: needs.setup.outputs.console == 'true'
        uses: doc-detective/github-action@v1
        with:
          input: modules/console
          working-directory: setup-tests
          exit_on_fail: true