name: Run doc tests
on:
  schedule:
    - cron: '0 0 * * *'
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-tests]

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      console: ${{ steps.filter.outputs.console }}
      quickstart: ${{ steps.filter.outputs.quickstart }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Determine changed paths
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            console:
              - 'modules/console/**'
            quickstart:
              - 'modules/get-started/pages/quick-start.adoc'

  run-tests:
    needs: setup
    permissions:
      contents: write
      pull-requests: write
      issues: write
      id-token: write
    strategy:
      matrix:
        os: [ubuntu-latest]  # Only using Linux for now since macOS doesn't include Docker
    runs-on: ${{ matrix.os }}
    steps:
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ vars.RP_AWS_CRED_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.RP_AWS_CRED_ACCOUNT_ID }}:role/${{ vars.RP_AWS_CRED_BASE_ROLE_NAME }}${{ github.event.repository.name }}
      - uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            ,sdlc/prod/github/actions_bot_token
          parse-json-secrets: true
      - uses: actions/checkout@v4
        with:
          token: ${{ env.ACTIONS_BOT_TOKEN }}
          path: redpanda-docs

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install
        working-directory: redpanda-docs

      - name: Set GitHub token
        run: |
          echo "REDPANDA_GITHUB_TOKEN=${{ env.ACTIONS_BOT_TOKEN }}" >> $GITHUB_ENV

      - name: Run all tests
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'repository_dispatch' || github.event_name == 'schedule' }}
        uses: doc-detective/github-action@v1
        with:
          input: ../../modules/get-started/pages/quick-start.adoc
          working_directory: redpanda-docs/tests/setup-tests
          exit_on_fail: true
          # create a PR/issue only if the workflow wasn't already triggered by a PR
          create_pr_on_change: true
          create_issue_on_fail: true
          token: ${{ env.ACTIONS_BOT_TOKEN }}
          version: dev

      - name: Test Redpanda Self-Managed quickstart
        if: ${{ needs.setup.outputs.quickstart == 'true' || needs.setup.outputs.console == 'true' }}
        uses: doc-detective/github-action@v1
        with:
          input: ../../modules/get-started/pages/quick-start.adoc
          working_directory: redpanda-docs/tests/setup-tests
          exit_on_fail: true
          version: dev
        env:
          REDPANDA_GITHUB_TOKEN: ${{ env.ACTIONS_BOT_TOKEN }}

      - name: Upload debug artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: doc-detective-output
          path: /home/runner/work/_temp/doc-detective-output.json
        env:
          REDPANDA_GITHUB_TOKEN: ${{ env.ACTIONS_BOT_TOKEN }}
