---
name: Run doc tests
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
  repository_dispatch:
    types: [trigger-tests]
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      console: ${{ steps.filter.outputs.console }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Determine changed paths
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            console:
              - 'modules/console/**'
  run-tests:
    needs: setup
    permissions:
      contents: write
      pull-requests: write
      issues: write
    strategy:
      matrix:
        os: [ubuntu-latest]  # Only using Linux for now since macOS takes a long time
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: redpanda-docs
      # Run tests on beta if the PR is targeting a branch that starts with 'v-WIP'
      - name: Test WIP Branch Docs
        if: startsWith(github.head_ref, 'v-WIP')
        run: |
          echo "BETA='true'" >> $GITHUB_ENV
      - name: Test docs
        if: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'repository_dispatch' }}
        uses: doc-detective/github-action@v1
        with:
          input: ../modules
          working_directory: redpanda-docs/setup-tests
          exit_on_fail: true
          # create a PR/issue only if the workflow wasn't already triggered by a PR
          create_pr_on_change: true
          create_issue_on_fail: true

      - name: Test Console docs
        if: needs.setup.outputs.console == 'true'
        uses: doc-detective/github-action@v1
        with:
          input: ../modules/console
          working_directory: redpanda-docs/setup-tests
          exit_on_fail: true
